@{
    bool isAuthenticated = Context.User.Identity.IsAuthenticated;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Project</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Project.styles.css" asp-append-version="true" />
    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/css/style.css" rel="stylesheet">
   

    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>
    <script>
        // Function to update cart badge count
        function updateCartBadge() {
            $.ajax({
                url: '@Url.Action("GetCartItemCount", "Cart")',
                type: 'GET',
                success: function (data) {
                    $('#shoppingCartLink .badge').text(data);
                }
            });
        }

        // Call updateCartBadge on page load
        $(document).ready(function () {
            updateCartBadge();
        });

       
        }
    </script>
    <header>
        <div class="row align-items-center py-3 px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a href="" class="text-decoration-none">
                    <h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 mr-1">E</span>Codder</h1>
                </a>
            </div>
            <div class="col-lg-6 col-6 text-left">
                <form action="@Url.Action("Search", "Products")" method="get" id="searchForm">
                    <div class="input-group">
                        <input type="text" name="searchString" class="form-control" placeholder="Search for products">
                        <div class="input-group-append">
                            <span class="input-group-text bg-transparent text-primary" id="searchBtn">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                    </div>
                </form>

                <script>
                    $(document).ready(function () {
                        $('#searchBtn').click(function () {
                            $('#searchForm').submit();
                        });
                    });
                </script>
            </div>
            <div class="col-lg-3 col-6 text-right">
                <a href="@Url.Action("Cart", "Cart")" class="btn border" id="shoppingCartLink">
                    <i class="fas fa-shopping-cart text-primary"></i>
                    @if (ViewBag.CartItemCount > 0)
                    {
                        <span class="badge badge-danger">@ViewBag.CartItemCount</span>
                    }
                </a>


            </div>
        </div>
        </div>

         <!-- Navbar Start -->
    <div class="container-fluid mb-5">
        <div class="row border-top px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; margin-top: -1px; padding: 0 30px;">
                    <h6 class="m-0">Categories</h6>
                    <i class="fa fa-angle-down text-dark"></i>
                </a>
                <nav class="collapse  navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0" id="navbar-vertical">
                    <div class="navbar-nav w-100 overflow-hidden" style="height: 140px">
                            <span style="margin-top: 10px; "></span> <!-- Adjust the margin as needed -->
                            @Html.ActionLink("T-shirts", "Tshirt", "Home", new { @class = "nav-item nav-link" })
                            <span style="margin-top: 10px; "></span> <!-- Adjust the margin as needed -->
                            @Html.ActionLink("Caps", "Caps", "Home", new { @class = "nav-item nav-link" })
                            <span style="margin-top: 10px; "></span> <!-- Adjust the margin as needed -->
                            @Html.ActionLink("Mugs", "Mugs", "Home", new { @class = "nav-item nav-link" })
                           
                      
                       
                    </div>
                </nav>
            </div>
            <div class="col-lg-9">
                <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                    <a href="" class="text-decoration-none d-block d-lg-none">
                        <h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 mr-1">E</span>Shopper</h1>
                    </a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto py-0">
                                @Html.ActionLink("Home", "Index", "Home", new { @class = "nav-item nav-link" })
                                <span style="margin-left: 10px;"></span> <!-- Adjust the margin as needed -->
                               
                                @Html.ActionLink("Shoping Cart", "Cart", "Cart", new { @class = "nav-item nav-link" })
                                <span style="margin-left: 10px;"></span> <!-- Adjust the margin as needed -->
                           

                           
                           <!-- <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages</a>
                                <div class="dropdown-menu rounded-0 m-0">
                                    <a href="cart.html" class="dropdown-item">Shopping Cart</a>
                                    <a href="checkout.html" class="dropdown-item">Checkout</a>
                                </div>
                                 </div> -->
                           
                        </div>
                        <div class="navbar-nav ml-auto py-0">
                                @if (isAuthenticated)
                                {
                                    <p style="margin-top:22px">Hello, @User.Identity.Name </p>

                                    <a asp-controller="Account" asp-action="LogOut" class="nav-item nav-link">Logout</a>
                                   
                                }
                                else
                                {
                                    <a asp-controller="Account" asp-action="Loginn" class="nav-item nav-link">Login</a>
                                    <a asp-controller="Account" asp-action="SignUp" class="nav-item nav-link">Register</a>
                                }
                        </div>
                    </div>
                </nav>
                
            </div>
        </div>
    </div>
    <!-- Navbar End -->
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
            @RenderSection("Scripts", required: false)
               </main>
    </div>

    <!-- Footer Start -->
    <div class="container-fluid bg-secondary text-dark mt-5 pt-5">
        <div class="row px-xl-5 pt-5">
            <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
                <a href="" class="text-decoration-none">
                    <h1 class="mb-4 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border border-white px-3 mr-1">E</span>Codder</h1>
                </a>
                <p>
                    Wear the code...Premium coding tshirts, hoodies and apparels.
                </p>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>123 Street, vadodara,India</p>
                <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>ecode@yahoo.com</p>
                <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+91 9834567890</p>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-md-4 mb-5">
                        <h5 class="font-weight-bold text-dark mb-4">Shop</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <ul>
                                <li class="nav-item">@Html.ActionLink("T-shirts", "Tshirt", "Home", new { @class = "nav-link" })</li>
                                <li class="nav-item">@Html.ActionLink("Caps", "Caps", "Home", new { @class = " nav-link" })</li>
                                <li class="nav-item">@Html.ActionLink("Mugs", "Mugs", "Home", new { @class = " nav-link" })</li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="font-weight-bold text-dark mb-4">Quick Links</h5>
                        <ul>
                           <li class="nav-item">
                                @Html.ActionLink("Home", "Index", "Home", new { @class = " nav-link" })
                             </li>
                          


                            <li class="nav-item"> @Html.ActionLink("Shoping Cart", "Cart", "Cart", new { @class = " nav-link" })</li>

                          


                        </ul>
                       
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="row border-top border-light mx-xl-5 py-4">
            <div class="col-md-6 px-xl-0">
                <p class="mb-md-0 text-center text-md-left text-dark">
                    &copy; <a class="text-dark font-weight-semi-bold" href="#">E-Codder</a>. All Rights Reserved. Designed
                    by
                    <a class="text-dark font-weight-semi-bold" href="https://htmlcodex.com">Us</a>
                </p>
            </div>
            <div class="col-md-6 px-xl-0 text-center text-md-right">
                <img class="img-fluid" src="img/payments.png" alt="">
            </div>
        </div>
    </div>
    <!-- Footer End -->

</body>
</html>
